<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список Задач</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    {{#if saved}}
    <p style="color: green">{{saved}}</p>
    {{/if}}

    {{#if delete}}
    <p style="color: red">{{delete}}</p>
    {{/if}}

    {{#if updated}}
    <p style="color: green">{{updated}}</p>
    {{/if}}

    <h2>Список дел!</h2>

    <ul class="list-group">
        {{#if tasks}}
        {{#each tasks}}
        <li class="list-group-item" id="{{this._id}}">
            <input type="checkbox" {{#if this.completed}}checked{{/if}} class="form-check-input checkbox"
                id="{{this._id}}">
            <h5>{{this.title}}</h5>
            {{#if this.description}}
            <p>Описание: {{this.description}}</p>
            {{/if}}
            <a href="del?id={{this._id}}">Удалить</a>
            <a href="edit?id={{this._id}}">Редактировать</a>
        </li>
        {{/each}}
        {{/if}}
    </ul>

    <a href="newTask">Добавить задачу</a>

    <script src="main.js"></script>
</body>

</html>