<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/scripts/script.js" defer ></script>
    <title>Document</title>
</head>
<body>

    <p>{{ navpanel user }}</p>
    
    <form action="/tasks" method="POST">
        <input type="text" name="title">
        <button type="submit">Add Task</button>
    </form>

    <div class="tasks__container">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>is Completed</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each tasks }}
                <tr>
                    <td>{{ this.title }}</td>
                    <td>
                        {{ checkBox this }}
                    <td>
                      <button class="btn_update" data-href="/tasks/update/{{ this._id }}">Update</button>
                      <button class="btn_delete" data-id="{{ this._id }}">Delete</button>
                    </td>    
                </tr>
            {{/each }}
            </tbody>
        </table>
    </div>
</body>
</html>    