<a href='/logout'>Выйти</a><br>

<h3 style='font-style: oblique'>Добавить задачу</h3>
<form method='POST' action='/tasks'>
  <input type='text' name='title' placeholder='Тема задачи' required />
  <input type='text' name='body' placeholder='Текст задачи' required />
  <input type='submit' />
</form>

<form method='GET' action='/tasks/one'>
  <input type='text' name='name' placeholder='Тема задачи' required />
  <input type='submit' value='Найти' />
</form>

<form method='POST' action='/tasks/all'>
  <input type='submit' value='Показать наличие задач' />
</form>

<p>{{error}}</p>
<ul>
  {{#each tasks}}
	<div style='border: double gray; width: 300px; padding-left: 20px;'>
		<div>
			{{#if this.priority}}
				<div style='color:red; display:inline-block;'>&#10040;</div>
			{{/if}}
			{{#if this.completed}}
				<div style='color:green; display:inline-block;'>&#128505;</div>
			{{/if}}
		</div>
    <li>
      <a href='/tasks/one?name={{this.title}}'>{{this.title}}</a>
      <p>{{this.body}}</p>
    </li>
	</div><br>
  {{/each}}
</ul>

<h3>{{title}}</h3>
<p>{{body}}</p>
<div>
	{{#if priority}}
		<div style='color:red; display:inline-block;'>&#10040; Задача в приоритете</div>
	{{/if}}
	{{#if completed}}
		<div style='color:green; display:inline-block;'>&#128505; Задача завершена</div>
	{{/if}}
</div>
<p hidden='true'>{{_id}}</p>
<p>{{message}}</p>

{{#if title}}
  <form method='POST' action='/tasks/put'>
    <input type='hidden' name='id' value='{{_id}}' readonly />
    <input name='title' value='{{title}}' required />
    <input name='body' value='{{body}}' required />

    {{#if priority}}
      <p><input type='checkbox' name='priority' checked />Снять приоритет</p>
    {{else}}
      <p><input type='checkbox' name='priority' />Сделать задачу приоритетной</p>
    {{/if}}
    {{#if completed}}
      <p><input type='checkbox' name='completed' checked />Снять отметку о завершении</p>
    {{else}}
      <p><input type='checkbox' name='completed' />Отметить как завершенную</p>
    {{/if}}

    <input type='submit' value='Принять изменения' />
  </form>
  <form method='POST' action='/tasks/delete'>
    <input name='name' value='{{title}}' readonly />
    <input type='hidden' name='id' value='{{_id}}' readonly />
    <input type='submit' value='Удалить' />
  </form>
{{/if}}