<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="body_hide">
  <a href="/logout">Выход</a>

  <form method="POST" action="/tasks">
    <fieldset>
      <legend>Список задач</legend>

      <label for="taskname">Название задачи</label>
      <input type="text" name="title" id="taskname" />
      <input type="submit" value="Создать" />
    </fieldset>
  </form>

  <ul>
    {{#each tasks}}
      <li>
        {{#if this.completed}}<b>[*]</b>{{/if}} <a href="/tasks/{{this.id}}">{{this.title}}</a>
        {{#unless this.completed}}
        <form method="POST" action="/tasks/complete">
          <input type="hidden" value="{{this.id}}" name="id" />
          <input type="submit" value="Выполнено" />
        </form>
        {{/unless}}
        <form method="POST" action="/tasks/remove">
          <input type="hidden" value="{{this.id}}" name="id" />
          <input type="submit" value="Удалить" />
        </form>
      </li>
    {{/each}}
  </ul>
</body>
</html>
