<div>
    <span>Количество новостей:<strong>{{ count}}</strong> с сайта:<strong> {{header}}</strong></span>
    <hr>
    {{#each articles}}
    <h3>{{this.title}}</h3>
    <span>{{this.date}}</span>
    <p>{{this.newsText}}</p>
    <span><em>{{this.author}}</em></span>
    <hr>
    </br>

    {{/each}}

</div>